/* Wrappers to pace game in the center and ensure responsiveness */
html {
  position: relative;
  overflow-y: scroll;
  height: 100%;
}

body {
  position: relative;
}

html, body { height:100%; }

.main-wrapper {
  width:100%;
  min-height:100%;
  display:flex;
  align-items:center;
  justify-content: center;
}
#game {
  width:100%;
  max-width:600px;
  background:#eee;
  border-radius:5px;
  box-shadow:5px 5px 15px rgba(0,0,0,0.2);
}


/* Reels area */
#reels {
  display:flex;
  justify-content: space-around;
  margin-top:10px;
  position:relative;

  .reel {
    width:calc((100% - 60px) / 3);
    overflow:hidden;
    height:300px;
    border-radius:5px;
    border:2px solid #000;
    position:relative;
    background:#fff;
    transform-style: preserve-3d;
    perspective: 1500px;

    @media (max-width:768px) {
      height:250px;
    }

    &:before {
      content:"";
      display:block;
      height:100%;
      position:absolute;
      top:0;
      right:0;
      z-index:2;
      width:0;
      border-left:10px solid #000;
      border-radius:50%;
      transform:translateX(50%);
    }

    .shadows {
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
      z-index:3;

      &:before,
      &:after {
        content:"";
        display:block;
        position:absolute;
        width:100%;
        height:25%;
        left:0;
      }

      &:before {
        top:0;
        background:linear-gradient(rgba(0,0,0,1) 0, rgba(0,0,0,1) 1%, rgba(0,0,0,0.5) 3%, rgba(0,0,0,0) 100%);
      }

      &:after {
        bottom:0;
        background:linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 97%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
      }
    }

    .reel-inner-wrapper {
      width: 80%;
      height: 60%;
      position: absolute;
      top: 20%;
      left: 10%;
      z-index: 1;
      transform-style: preserve-3d;
      transform: rotateX(0deg);

      .symbol {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #fff;
        backface-visibility: hidden;


        /* Only link and class should be specified to add new symbol */
        &.bar {
          background-image: url(../images/bar.png);
        }

        &.bar2x {
          background-image: url(../images/2xbar.png);
        }

        &.bar3x {
          background-image: url(../images/3xbar.png);
        }

        &.seven {
          background-image: url(../images/7.png);
        }

        &.cherry {
          background-image: url(../images/cherry.png);
        }
      }
    }
  }

  .prize-flash {
    width:93%;
    height:37%;
    border:3px solid red;
    border-radius:5px;
    position:absolute;
    left:50%;
    z-index:5;
    transform:translateX(-50%);
    display:none;

    &.prize-top {
      top:7%;
    }

    &.prize-center {
      top:50%;
      transform:translate(-50%, -50%);
      height:50%;
    }

    &.prize-bottom {
      bottom:6%;
    }
  }

  &.topLine .prize-top {
    display:block;
  }
  &.centerLine .prize-center {
    display:block;
    height:40%;
  }
  &.bottomLine .prize-bottom {
    display:block;
  }
}

#payout {
  width:90%;
  padding:5px 20px;
  border:2px solid transparent;
  border-radius:5px;
  margin:20px auto;
  text-align:center;
  line-height:30px;
  min-height:45px;
  font-size:30px;
  color:red;
  font-weight:bold;

  &.flash {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  span {
    display:inline-block;
    margin:0 20px;
  }
}

@keyframes flash {
  0% {border-color: #000; color:red;}
  50% {border-color: red; color:#000;}
  100% {border-color: #000; color:red;}
}

#balance {
  display:block;
  width:100px;
  margin:20px auto;
  line-height:20px;
  font-size:20px;
  text-align:center;
}

#spin-button {
  display:block;
  margin:20px auto;
  border: 1px solid #000;
  border-radius:5px;
  padding:0 8px;
  box-shadow: 0 0 0 2px  #ffe600 inset, 3px 3px 5px rgba(0,0,0,0.4);
  background:#000;
  color:#eee;
  font-family:"Courier New";
  font-size:30px;
  line-height:32px;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
  position:relative;
  cursor:pointer;
  transition:box-shadow 0.1s;

  &:after {
    content:"";
    width:100%;
    height:50%;
    position:absolute;
    top:0;
    left:0;
    background:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.4));
    transition:height 0.1s, background 0.1s;
    border-bottom-right-radius:30%;
    border-bottom-left-radius:30%;
  }

  &:hover:after {
    height:60%;
    background:linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.4), rgba(255,255,255,0.3));
  }

  &:active {
    box-shadow: 0 0 0 2px  #ffe600 inset;
  }

}

.debugging-area {
  padding-top:30px;
  text-align:center;

  h2 {
    font-size:17px;
    text-transform:uppercase;
  }

  h3 {
    margin-top:10px;
  }

  select {
    margin:10px;
  }

  .debuggin-reel-wrapper {
    display:inline-block;
    margin:0 10px;

    select {
      display:block;
      margin: 10px auto;
    }
  }
}